body {
  background-color: #ffffff ;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide scrollbars */
}
.title{
  font-size:28pt;
  font-weight:900;
  color:#4a1a3b;
  position:relative;
  top: 3vh;
  left: 3.5vw;
  line-height:18px;
}


.bar > rect {

}

.bar > text {


  text-anchor: start;

}

button {
  margin-top: 1rem;
}

#chart {
  margin-top: -270px;
  transform: translate(400px,-200px)rotate(90deg);
  background-color:#ffffff;
  margin-left: 9.2vw;
}

.x-axis{
  color:#999999;

}
.y-axis{
  color:#999999;

}
.x-axis > .tick > text {
  font-size: 8.5pt;
  font-weight: 600;
  color: #575757;
  /* Translate and rotate labels so they fit below bars better. */
  transform: translate(-8px, 10px) rotate(-90deg);
  text-anchor:end;
}
.x-axis > .tick > line {
  /* Translate and rotate labels so they fit below bars better. */
visibility: hidden;
}

.y-axis > .tick > text {
  font-size: 8.5pt;
  font-weight: 600;
  /* Translate and rotate labels so they fit below bars better. */
  transform: translate(-15px, -12px) rotate(-90deg);
color:#575757;
}

.sentence{
  font-size: 12pt;
  margin-left: 27.4vw;
  margin-top: 37.5vh;
}
.sentence > span{
    font-weight: 800;
    color:#EB4C8C;
}




select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}


.bn1 {
  cursor: pointer;
  display: inline-block;

  width:120px;
  padding: 0.7em 0em;

  border: 0.1em solid #AFAFAF;

  margin: 0 0.3em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size:8.5pt;
  font-weight: 500;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}
#gf{
  position: absolute;
  left:25vw;
  top:27vh;

  color:#ffffff;
  background-color:#EB4C8C;
}
#gm{
  position: absolute;
  left:25vw;
  top:34vh;

}
#a18{
  position: absolute;
  color:#ffffff;
  background-color:#EB4C8C;
  left:38vw;
  top:13vh;
}
#a25{
  position: absolute;

  left:38vw;
  top:20vh;
}
#a45{
  position: absolute;

  left:38vw;
  top:27vh;
}
#a65{
  position: absolute;

  left:38vw;
  top:34vh;
}
#ee{
  color:#ffffff;
  background-color:#EB4C8C;
  position: absolute;

  left:51vw;
  top:20vh;
}
#eu{

  position: absolute;
  left:51vw;
  top:27vh;
}
#en{

  position: absolute;
  left:51vw;
  top:34vh;
}
#dd{
  position: absolute;
  left:64vw;
  top:27vh;

  color:#ffffff;
  background-color:#EB4C8C;

}
#de{
  position: absolute;
  left:64vw;
  top:34vh;
}
.me{position:absolute;top:13.6vh; left: 4.1vw;}
.myname{font-weight: bold;font-size: 10.2pt;color: #705668;}
.myroll{margin-top: -14px;font-size:10.2pt;color:#525252;}
